@media screen and (max-width: 864px) {
  body {
    background-color: white;
    height: 100%;
  }

  .body-home-true, .body-home-false {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    padding: 0;
  }

  .id, .hd button {
    font-size: 15px;
  }

  .box-img-true, .box-img-false {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 80vh;
    min-height: 360px;
    width: 100%;
  }

  .call {
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    line-height: 17px;
    width: 80%;
  }

  .second {
    margin-bottom: 0;
  }

  .wlcm {
    font-size: 13px;
  }

  .principal {
    width: 100%;
  }

  .apresentation-true, .apresentation-false {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    width: 100%;
  }

  .apresentation-true h1, .apresentation-false h1 {
    font-size: 30px;
  }

  .explore {
    font-size: 15px;
    text-align: center;
    width: 100%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .navigation {
    display: none;
  }

  .hd-pages {
    display: none;
  }

  .header-mobile-true {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(215, 215, 215);
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    position: fixed;
    width: 100%;
    transition: 1s;
    top: 0;
    z-index: 1;
  }

  .header-mobile-false {
    align-items: center;
    background-color: rgb(42, 42, 42);
    border-bottom: 1px solid rgb(108, 108, 108);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    transition: 1s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  .header-mobile-true p, .header-mobile-false p {
    color: orangered;
    text-transform: uppercase;
  }

  .header-mobile-true label, .header-mobile-false label {
    color: gray;
  }

  .header-mobile-false button {
    background-color: transparent;
    border: 0;
    color: gray;
    cursor: pointer;
    transition: 1s;
    font-size: 15px;
  }
  
  .header-mobile-true button {
    background-color: transparent;
    border: 0;
    color: gray;
    cursor: pointer;
    transition: 1s;
    font-size: 15px;
  }

  .scroll:checked ~ .div-menu-true {
    display: flex;
    height: auto;
    transform: translateY(0px);
    transition: 1s;
  }

  .scroll:checked ~ .div-menu-false {
    display: flex;
    height: auto;
    transform: translateY(0px);
    transition: 1s;
  }
  
  .div-menu-true {
    align-items: center;
    background-color: white;
    border-bottom: .5px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    font-family: Prompt, sans-serif;
    overflow: hidden;
    position: fixed;
    top: 34px;
    transform: translateY(-150px);
    transition: 1s;
    width: 100%;
    z-index: 0;
  }

  .div-menu-false {
    align-items: center;
    background-color: rgb(42, 42, 42);
    border-bottom: .5px solid rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
    font-family: Prompt, sans-serif;
    overflow: hidden;
    position: fixed;
    top: 34px;
    transform: translateY(-150px);
    transition: 1s;
    width: 100%;
    z-index: 0;
  }
  
  .div-menu-true a {
    border-top: .5px solid rgb(219, 219, 219) ;
    color: gray;
    padding: 5px;
    text-decoration: none;
    transition: 1s;
  }

  .div-menu-false a {
    border-top: .5px solid rgb(108, 108, 108) ;
    color: rgb(181, 181, 181);
    padding: 5px;
    transition: 1s;
    text-decoration: none;
  }

  .principal-true, .principal-false {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 50px;
    text-align: center;
  }

  .manu-true, .manu-false {
    height: 100%;
    width: 100%;
  }

  .learn-true, .learn-false {
    width: 90%;
  }

  .learn-true p, .learn-false p {
    font-size: 15px;
  }

  .images {
    width: 100vw;
  }

  .box-img {
    height: 200px;
    width: 200px;
  }

  .image-1{
    height: 200px;
    width: 200px;
    min-width: 200px;
    min-height: 200px;
  }
}