@media screen and (max-width: 864px) {
  .body-home-true, .body-home-false {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    padding: 0;
  }

  .id, .hd button {
    font-size: 15px;
  }

  .box-img-true, .box-img-false {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 80vh;
    min-height: 360px;
    width: 100%;
  }

  .call {
    font-family: 'Prompt', sans-serif;
    font-size: 15px;
    line-height: 17px;
    width: 80%;
  }

  .second {
    margin-bottom: 0;
  }

  .wlcm {
    font-size: 13px;
  }

  .principal {
    width: 100%;
  }

  .apresentation-true, .apresentation-false {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    width: 100%;
  }

  .apresentation-true h1, .apresentation-false h1 {
    font-size: 30px;
  }

  .explore {
    font-size: 15px;
    text-align: center;
    width: 100%;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}